/* 
colors: #03fccf - tiel - nav-bar, icons on page, and glass
        #f2ab55- sand - footer
        #4d399e - ocean
        #ff     - black

*/
/* fixed elements/UI */


*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

:root {
  --primary-color: linear-gradient(35deg, rgba(245, 245, 245, 0.195), rgba(177, 169, 169, 0.288), rgba(214, 179, 179, 0.326));
  --secondary-color: linear-gradient(35deg, rgba(10, 212, 223, 0.164),rgba(83, 216, 216, 0.071),rgba(255, 136, 0, 0.071));;
  --dark-grey: #2b2b2b;
  --button-shadow:6px 6px 10px rgba(39, 37, 37, 0.568)
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.6;
}
header{
    position: fixed;
    width: 100vw;
    max-height: 12vh;
    padding:20px;
    display: flex;
    background: var(--secondary-color);
    box-shadow: 2px 1px 6px rgba(39, 37, 37, 0.568)
}
footer{
    max-height: 12vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 1vh 0vw;
    display:flex;
    justify-content: space-evenly;
    background: var(--secondary-color)
}



.main-container{
    display: flex;
    flex:1 1 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.glass{
    position: inherit;
    max-height: 80%;
    padding: 20px;
    border-radius: 35px; 
    background: var(--primary-color);
    box-shadow: -8px 6px 8px rgba(39, 37, 37, 0.568)

}
/* header and navbar*/

.name-plate{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
   
}
.logo{
    height: 8vh;
    width: 8vw;
    margin: 1vh 1vw;
    border-radius: 45px;
    flex:0 1 20px;
}
nav{
    display: inline-flex;
    flex: 0 0 0;
    align-items: center;
}
.navigation-list{
    list-style: none;
    display: flex;
    flex: 1 1 0px;
    text-align: right;
    
}
.navigation-list__item{
border-radius: 2px;
color: black;
margin:1vw;
text-decoration: none;
padding: 2px;
border-radius: 9px;

}
.navigation-list__item:hover,
.navigation-list__item:focus{
padding: 4px;
box-shadow: var(--button-shadow);
transition:200ms ease;
}
.navigation-list__item:active{
transform: translateX(2px);
}
.navigation-list__item--active{
background: #03fcce37;
border-radius: 2px;
margin:1vw;
text-decoration: none;
border: 1px solid #03fcce38;
padding: 2px;
border-radius: 9px;
}
/*footer content-------------------------------- */
.socials{
    text-align: center;
}
#linked-in-icon,
#github-icon{
    height: 6vh;
    width: 4vw;
}


/* index.html------------------------------------*/


/* profile-------------------------------------- */
.profile {
    margin: 0 auto;
    padding: 50px;
  }
.profile-pic{
    float: left;
    max-width: 15vw;
    max-height:15vh;
    border-radius: 50%;
    margin-right: 40px;
    }
a,
.call-to-action:visited{
    color: red;
}
a,
.call-to-action:hover,.call-to-action:focus{
    text-decoration: none;
}
a,
.call-to-action:active{
    text-decoration: none;
    color:blue;
    }

/* contact.html --------------------------------*/
form{
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    
}
input[type=submit]{
    font: inherit;
    border: none;
    background: #03fccf;
    border-radius: 9px;
    padding-left: 6px;
    padding-right: 6px;
    
}

input[type=submit]:hover{
border: 1px solid rgba(0, 0, 0, 0.348);
cursor: pointer;
}

input[type=submit]:active{
transform: translate3d(2px,2px,2px)
}


input[type=email],
input[type=tel]{
border: none;
}
input[type=email]:hover,
input[type=tel]:hover,
#contact-message:hover{
border:1px solid rgba(255, 0, 0, 0.275);
border-radius: 3px;
}
#contact-message{
    resize:none;
    border: none;
    overflow:auto;
}
.standard-label{
    font-weight:900;
}
/*about.html --------------------------------------*/
table{
    width: 50vw;
}
.about-list{
  list-style:none;
  border: 1px solid rgba(101, 95, 95, 0.334);
  padding: 10px;
  background: var(--secondary-color);
}
#skill-table-head{
    text-align: center;
    text-decoration: underline;
}
.table-el{
    text-align: center;
}
.button{
  margin-left: 18%;
    font-weight: 600;
    border: none;
    padding: 4px;
    background: #03fccf;
    cursor: pointer;
    border-radius: 9px;
}
.button:hover,
.button:focus{
    padding: 6px;
    box-shadow: var(--button-shadow)
}
/* work.html */
/* fallback */
.pg-title{
  text-align: center;
}
.grid__item {
    display: inline-block;
    width: 33%;
    border: 1px solid rgba(101, 95, 95, 0.334);
    padding: 10px;
    background: var(--secondary-color);
   }

@supports (display: grid) {
.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
.grid__item{
  background-color: lightgray;
   width: 100%;
   min-height: auto;
   margin: 0;
   

  }
}

@media all and (max-width: 500px) {
footer{
  display: none;
    padding: 0;
    margin: 0;
}
.head-name{
  display: none;
}
.name-plate{
 flex: 0;
position: absolute;
left: 0;
top:0;
}
.navigation-list{
  flex: 4;
}
header{
  justify-content: center;
}
.glass{
    margin-top: 10vh;
    padding: 20px;
}
.grid {  
    grid-template-columns: 1fr;
}

   
  }

  @media all and (min-width: 500px) and (max-width: 750px){
    .glass{
        margin-top: 10vh;
    }
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }

    
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

