/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* 
colors: #03fccf - tiel - nav-bar, icons on page, and glass
        #f2ab55- sand - footer
        #4d399e - ocean
        #ff     - black

*/
/* fixed elements/UI */


*{
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   line-height: 1.6;
   background-color: rgb(228, 235, 240);
}
header{
   position: fixed;
   width: 100vw;
   max-height: 12vh;
   padding:20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   background: -o-linear-gradient(55deg, rgba(10, 212, 223, 0.164),rgba(83, 216, 216, 0.071),rgba(255, 136, 0, 0.071));
   background: linear-gradient(35deg, rgba(10, 212, 223, 0.164),rgba(83, 216, 216, 0.071),rgba(255, 136, 0, 0.071));
   -webkit-box-shadow: 2px 1px 6px rgba(39, 37, 37, 0.568);
           box-shadow: 2px 1px 6px rgba(39, 37, 37, 0.568)
}
footer{
   max-height: 12vh;
   width: 100vw;
   position: fixed;
   bottom: 0;
   padding: 1vh 0vw;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
           justify-content: space-evenly;
   background: -o-linear-gradient(55deg, rgba(10, 212, 223, 0.164),rgba(83, 216, 216, 0.071),rgba(255, 136, 0, 0.071));
   background: linear-gradient(35deg, rgba(10, 212, 223, 0.164),rgba(83, 216, 216, 0.071),rgba(255, 136, 0, 0.071))
}



.main-container{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-flex:1;
       -ms-flex:1 1 auto;
           flex:1 1 auto;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   height: 100vh;
}
.pseudo{
   box-shadow: 5px 5px rgba(47, 46, 46, 0.341),0px 1px 3px 5px rgba(39, 37, 37, 0.568); 
   border-radius: 25px;
}
.glass{
   position: inherit;
   max-height: 80%;
   padding: 20px;
   border-radius: 25px; 
   background: -o-linear-gradient(55deg, rgba(194, 225, 223, 0.385), rgba(83, 96, 89, 0.288), rgba(114, 140, 151, 0.326)); 
   background: rgba(128, 128, 128, 0.285);
   -webkit-box-shadow: -8px 6px 8px rgba(39, 37, 37, 0.568);
  box-shadow:  5px 5px inset rgba(110, 127, 124, 0.073);

}
/* header and navbar*/
.head-bar{
   height: 15%;
   padding: 0;
}
.name-plate{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 100%;
   margin-left: 2%;
   margin-right: 2%;

   -webkit-box-flex: 1;
       -ms-flex: 1 1 0px;
           flex: 1 1 0px;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
  
}
.logo{
   max-height: 8vh;
   max-width: 8vw;
   margin: 1vh 1vw;
   
   border-radius: 45px;
   -webkit-box-flex:0;
       -ms-flex:0 1 20px;
           flex:0 1 20px;
}
nav{
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   height: 100%;
   -webkit-box-flex: 0;
       -ms-flex: 0 0 0px;
           flex: 0 0 0;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.navigation-list{
   list-style: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: inline-flex;
   -webkit-box-flex: 1;
       -ms-flex: 1 1 0px;
           flex: 1 1 0px;
   text-align: right;
   vertical-align: middle;   
}

.navigation-list__item{
border-radius: 2px;
color: black;
margin:1vw;
text-decoration: none;
padding: 2px;
border-radius: 9px;
-webkit-transition:200ms ease;
-o-transition:200ms ease;
transition:200ms ease;

}
.navigation-list__item:hover{
padding: 4px;
-webkit-box-shadow: 6px 6px 10px rgba(39, 37, 37, 0.568);
       box-shadow: 6px 6px 10px rgba(39, 37, 37, 0.568);
}
.navigation-list__item:focus{
padding: 4px;
-webkit-box-shadow: 6px 6px 10px rgba(39, 37, 37, 0.568);
       box-shadow: 6px 6px 10px rgba(39, 37, 37, 0.568);
-webkit-transition:200ms ease;
-o-transition:200ms ease;
transition:200ms ease;
}
.navigation-list__item:active{
-webkit-transform: translateX(2px);
   -ms-transform: translateX(2px);
       transform: translateX(2px);
}
.navigation-list__item--active{
background: #03fcce37;
border-radius: 2px;
margin:1vw;
text-decoration: none;
border: 1px solid #03fcce38;
padding: 2px;
border-radius: 9px;
}
/*footer content-------------------------------- */
.socials{
   text-align: center;
}
#linked-in-icon,
#github-icon{
   height: 6vh;
   width: 4vw;
}


/* index.html------------------------------------*/


/* profile-------------------------------------- */
.profile {
   margin: 0 auto;
   padding: 50px;
 }
.profile-pic{
   float: left;
   max-width: 15vw;
   max-height:15vh;
   border-radius: 50%;
   margin-right: 40px;
   }
a,
.call-to-action:visited{
   color: red;
}
a,
.call-to-action:hover,.call-to-action:focus{
   text-decoration: none;
}
a,
.call-to-action:active{
   text-decoration: none;
   color:blue;
   }

/* contact.html --------------------------------*/
form{
   padding: 5vh 5vw;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-preferred-size: auto;
       flex-basis: auto;
   
}
input[type=submit]{
   font: inherit;
   border: none;
   background: #03fccf;
   border-radius: 9px;
   padding-left: 6px;
   padding-right: 6px;
   
}

input[type=submit]:hover{
border: 1px solid rgba(0, 0, 0, 0.348);
cursor: pointer;
}

input[type=submit]:active{
-webkit-transform: translate3d(2px,2px,2px);
       transform: translate3d(2px,2px,2px)
}


input[type=email],
input[type=tel]{
border: none;
}
input[type=email]:hover,
input[type=tel]:hover,
#contact-message:hover{
border:1px solid rgba(255, 0, 0, 0.275);
border-radius: 3px;
}
#contact-message{
   resize:none;
   border: none;
   overflow:auto;
}
.standard-label{
   font-weight:900;
}
/*about.html --------------------------------------*/
table{
   width: 50vw;
}


.about-list{
 list-style:none;
 border: 1px solid rgba(101, 95, 95, 0.334);
 padding: 10px;
 background: -o-linear-gradient(55deg, rgba(10, 212, 223, 0.164),rgba(83, 216, 216, 0.071),rgba(255, 136, 0, 0.071));
 background: linear-gradient(35deg, rgba(10, 212, 223, 0.164),rgba(83, 216, 216, 0.071),rgba(255, 136, 0, 0.071));
}

#skill-table-head{
   text-align: center;
   text-decoration: underline;
}
.table-el{
   text-align: center;
}
.button{
 margin-left: 18%;
   font-weight: 600;
   border: none;
   padding: 4px;
   background: #03fccf;
   cursor: pointer;
   border-radius: 9px;
}
.button:hover{
   padding: 6px;
   -webkit-box-shadow: 6px 6px 10px rgba(39, 37, 37, 0.568);
           box-shadow: 6px 6px 10px rgba(39, 37, 37, 0.568)
}
.button:focus{
   padding: 6px;
   -webkit-box-shadow: 6px 6px 10px rgba(39, 37, 37, 0.568);
           box-shadow: 6px 6px 10px rgba(39, 37, 37, 0.568)
}
/* work.html */
/* fallback */
.pg-title{
 text-align: center;
}
.grid__item {
   display: inline-block;
   width: 33%;
   border-radius: 9px;
   padding: 6px;
   margin: 2px;
   background: -o-linear-gradient(55deg, rgba(10, 212, 223, 0.164),rgba(83, 216, 216, 0.071),rgba(255, 136, 0, 0.071));
   background: linear-gradient(35deg, rgba(107, 222, 226, 0.164),rgba(83, 216, 216, 0.071),rgba(105, 90, 73, 0.071));
  }

@supports (display: grid) {
.grid {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr;
   grid-template-columns: 1fr;
   justify-items: center;
 }
.grid__item{
  width: 100%;
  min-height: auto;
  margin: 0;
  

 }
}

@media all and (max-width: 500px) {
footer{
 display: none;
   padding: 0;
   margin: 0;
}
.head-name{
 display: none;
}
.name-plate{
-webkit-box-flex: 0;
    -ms-flex: 0;
        flex: 0;
position: absolute;
left: 0;
top:0;
}
.navigation-list{
 -webkit-box-flex: 3;
     -ms-flex: 3;
         flex: 3;
         justify-self: flex-end;
}
.navigation-list_item{
height: 100%;
}

header{
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
        
}
.pseudo{
   margin-top: 10vh;
}
.glass{
   margin-top: 10vh;
   padding: 20px;
   transition-duration: 2s;
}
.grid {  
   -ms-grid-columns: 1fr;  
   grid-template-columns: 1fr;
}
}
.logo{
          aspect-ratio: 1 / 1;
          width: 14%;
   }

 @media all and (min-width: 500px) and (max-width: 750px){
   .glass{
       margin-top: 10vh;
   }
   .pseudo{
      margin-top:10vh;
   }
   .grid {
     -ms-grid-columns: 1fr 10px 1fr;
     grid-template-columns: 1fr 1fr;
     grid-gap: 10px;
   }
}
 @media all and (max-width: 750px) {
   .grid {
     grid-gap: 10px;
   }
   .grid__item:last-child {
     grid-column: auto / auto;
     grid-row: auto / auto;
   }
   h1 {
     font-size: 22px;
   }
 }
 .logo{
     width: 5%;
   }
 
